.titulo-h1{
  text-align: center;
  font-size: 30px;
}

.div-img{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  background: linear-gradient(150deg, rgba(35,76,104,1) 0%, rgba(32,77,100,1) 98%);
}

.img-logo{
  height:80px;
  width: 210px;
    
}

.div-cajaPrincipal{
 display: grid;
 justify-content: center;
}

.div-borde{
  border: solid 3px black;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 3;
  justify-content: center;
  text-align: center;
  font-size: 70px;
}

.casillas{
  cursor: pointer;
  height: 100px;
  width: 133.2px;
   
}

.div-borde1{
  border: solid 3px violet;
  
}

.div-borde2{
  border: solid 3px yellow;
  
}  


.div-borde3{
  border: solid 3px red;
  
}


.div-borde4{
  border: solid 3px green;
  
}

.div-borde5{
  border: solid 3px blue;
  
}

.div-borde6{
  border: solid 3px purple;
  
}

.div-borde7{
  border: solid 3px pink;
  
}
.div-borde8{
  border: solid 3px gray;
  
}

.div-borde9{
  border: solid 3px fuchsia;
  
}

.div-Btn{
  display: grid;
  justify-content: center;
}

.btn{
  
  width: 90px;
  height: 30px;
}

.div-contenedorInformación{
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  margin: 0;
}